html,body,h1,h2,h3,h4,h5,p,ul,li,div,a,span,img{margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif;border: 0;box-sizing: border-box;}
html, body {height:100%;}
h1,h2,h3,h4,h5,p{color: #ebebeb;}
li{list-style: none;}
a{text-decoration: none !important ;}


.w{width: 66.6666%;margin: 0 auto;}
.le{float: left;}
.ri{float: right;}
.cl{clear: both;}
.cl:after {clear: both; content:""; display:block;}
.rel{position: relative;}
.abs{position: absolute;}

.modal{width: 100%; height: 100%;z-index: 10000;display: block;}
.modal1{width: 100%; height: 100%;background-color: rgba(0,0,0,0.7);}
.modal1 img{top: 50%; left: 50%;transform: translate(-50%,-50%);}

header {width:60%; z-index: 9999; position:absolute; text-align:center; top:20%; left:-60%;}
header ul li{padding:1vh;} 
header ul li a{color: #5e5e5e; font-size:2vw;}
header ul li:nth-child(1) a:hover{color:#ef464f;}
header ul li:nth-child(2) a:hover{color:#a03db1;}
header ul li:nth-child(3) a:hover{color:#223770;}
section{width: 100%; height:100%;}

.hello {width:100%; position:relative;}
.he_main_ban {width:60%; float:right; position:relative;}
.he_main_ban > img {width:100%;}

.he_main_txt {position:absolute; width:40%; bottom:0; text-align:right; left:-40%;}
.he_txt1 {width:100%;}
.he_txt2 {display: none;}

.grafic_back{width: 62.5%; height:100%;z-index: 99;}/*transform:translate(-50%, -50%) */
.c1{top: 30%;left:32%;transform:translate(30%, 32%);z-index: 10;width: 10vw;opacity: 1; animation:rotation120 4s infinite linear; }
.c2{top: 52%;left: 120%;transform:translate(52%, 120%);z-index: 10;width: 4vw;opacity: 1; animation:rotation120_1 4s infinite linear; }
.c3{top: 14%;left: 90%;transform: translate(18%,75%);z-index: 10;width:6vw;opacity: 1; animation:rotation120 4s infinite linear; }
.c4{top:52%;left:75%;transform:translate(52%, 75%);z-index: 10;width: 9vw;opacity: 1; animation:rotation120_1 4s infinite linear; }
.c5{top: 30%;left:67%;transform:translate(35%, 62%);z-index: 10;width:6vw;opacity:1; animation:rotation120_1 4s infinite linear; }
.c6{top: 55%;left:14%;transform:translate(55%, 14%);z-index: 10;width: 8vw;opacity: 0.7; animation:rotation120_1 4s infinite linear; }

.img_100{width: 100%; height:60%;background-color: #ef464f;}
.img{background-image: url("../images/hello/startup.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
height: 100%;width: 100%;}
.img{width: 100%; height: 100%;}

.txt_box {width: 30%;height: 20%; z-index:2;  top:50%; left:50%; transform:translate(-50%, -50%);}
.txt_box > :first-child { width:50%;top: 50%;transform: translateY(-50%);left: 0; }
.txt_box > :first-child p{font-size: 3vh; color:#f9ed5f;}
.txt_box > :last-child {border-left: 1px solid #ebebeb;padding: 0 1vw; width:50%;top: 50%;transform: translateY(-50%);right: 0;}
.txt_box > :last-child img{width: 90%;min-width: 150px;}

.drop1{width: 62.6%; top:0; left: 0;}
.drop1 img{width: 102%;}
.drop2{width:62.6%;top:0; left: 0;display: none;}
.drop2 img{width: 102%;}


.about{width:100%; position:relative;}
.ab_main_ban{width:60%; float: left;; position:relative;}
.ab_main_ban > img{width: 100%;}
.ab_main_txt{position:absolute; width:40%; bottom:0; text-align:left;right: -40%; }
.ab_main_txt img{width: 100%;}

.a1{ width: 6vw;top: 20%;left: 58%;transform:translate(20%, 58%);animation:rotation120 4s infinite linear;}
.a2{width: 7vw;top: 62%;left: 90%;transform:translate(62%, 90%);animation:rotation120_1 4s infinite linear;}
.a3{width: 7.5vw;top: 30%; left:100%;transform:translate(30%,100%);animation:rotation120_1 4s infinite linear;}
.a4{width: 4vw;top: 38%; left: 40%;transform:translate(38%, 40%);animation:rotation120 4s infinite linear;}
.a5{width: 5.5vw;top: 42%; left: 80%;transform:translate(40%, 75%);animation:rotation120 4s infinite linear;} 
.a6{width: 14vw;top: 60%; left: 60%;stroke-dasharray: 20;
    stroke-dashoffset: 1000;
    animation: dash 15s infinite linear forwards;} 
.a7{width: 12vw;top: 45%; left: 35%;stroke-dasharray: 20;
        stroke-dashoffset: 1000;
        animation: dash 15s infinite linear forwards;} 
.a8{width: 6vw;top: 50%; left: 115%;animation:rotation120_1 4s infinite linear;} 


.time_line{height: 200%;}
.about_back{width: 100%; height: 100%; 
    /* background-image:url("../images/about/backgrafic.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover; */}
.rel_back{width: 100%;height: 50%;margin: 0;padding: 0;}
.rel_back:first-child{background-color: #a13eb2;}
.rel_back:last-child{background-color: #223770;}
.rel_back_drop{width: 100%;}
.rel_back_drop img{width: 100%;}

.ab_tit{width: 100%;padding-top:8vh;}
.ab_tit h1{font-weight: bold; font-size:4vh;color: #893c96;text-align: center; 
    height: 10vh;line-height:10vh; background-color: #f9ed5f;}

.history{width:65%;margin: 0 auto;}
.history_line{top:24.5%; max-width:1210px;width:65%;
    stroke-dasharray: 3000;/*애니메이션 총 길이*/
    stroke-dashoffset: -3000; animation: dash1 5s linear alternate infinite; animation-delay:3s;}
.ab_grafic{top:27.5%;max-width:1200px; width:64.5%;}
.ab_grafic img{width:100%;}

.ab_work_pe{top: 65%;left: 50%;transform: translate(-50%,-50%);width: 66%;}


.txt_top div{display: inline-block;}
.txt_top div:nth-child(2){margin-left:2%; }
.txt_top div h2{font-size: 3vh;display: inline-block;margin-right: 1.2%;margin-bottom: 3%;}
.txt_top div p{font-size: 2vh;display: inline-block;}
.txt-bottom {margin-top: 3%;}
.txt-bottom h2{font-size: 3vh;}


.wrap{width: 100%;height: 100%;}
.chart_wrap {width:16.5%; float:left; padding:3%;margin-top: 10px;}
.wrap p{top: 50%;font-size: 2vh;transform: translateY(-50%);}
.p1{left: 7%;}
.p2{left: 24%;}
.p3{left:40.5%;}
.p4{left: 55.5%;}
.p5{left: 73%;}
.p6{left: 89%;}

.project{width:100%;}
.pro_main_ban{width: 60%;float: right;position: relative;}
.pro_main_ban > img{width: 100%;}
.pro_main_txt{width: 40%; position: absolute;text-align: left;bottom: 0;left: -40%;}
.pro_main_txt > img{width: 100%;}

.pr1{width:5vw;top: 46%; right:42% ; z-index: 10;animation:rotation120_1 4s infinite linear;}
.pr2{width:6.5vw;top:65%; right: -15%;z-index: 10;animation:rotation120 4s infinite linear;}
.pr3{width:5vw;top: 8%; right: 20%;z-index: 10;animation:rotation120 4s infinite linear;}
.pr4{width:5vw;top: 26%; right: 28%;z-index: 10;animation:rotation120 4s infinite linear;}
.pr5{width:5vw;top: 45%; right:-20%;z-index: 10;animation:rotation120_1 4s infinite linear;}

.pr7{width:12vw;top: 50%; right:5%;z-index: 10;stroke-dasharray: 20;
    stroke-dashoffset: 1000;
    animation: dash 15s infinite linear forwards;} 

/***** Featured Products *****/
.prds_back{width: 100%;height: 100%;padding: 3%;min-height: 700px;}
.prds {margin:0 auto; text-align:center;width: 66.66%;position: relative;}

.prds > h3 {color:#223770; padding:1rem 0; line-height:2rem;font-weight: bold;font-size:5vh; }

.prd_nav {margin-top:2rem;}
.prd_nav > li {display:inline-block; font-size:1.125rem; color:#666; font-weight:bold; margin:0 1rem; cursor:pointer; position:relative;}
.prd_nav > li > div {width:0%; height:2px; background-color:#84b736; position:absolute;}

.prd_out_wrap {margin-top:2rem; position:relative;}
.prd_wrap {display:none; position:absolute; top:5rem; opacity:0; width:100%;}
.prd {width:24%; margin:0.5%; float:left; font-size:1rem; position:relative;}
.prd_tit {color:#555; font-size:1.25em; line-height:1.5em; padding:0.25em; font-weight:bold;}
.prd_cate {font-size:0.875em; color:#888; padding:0.25em;}


.prd_hover {position:absolute; width:110%; padding:5% 5% 0 5%; left:-5%; top:-5%; border:1px solid #f1f1f1; 
	box-shadow:0 0 5px rgba(0,0,0,0.2); display:none; z-index:3;}
.prd_hover > ul {background-color:#fff; width:110%; margin-left:-5%; padding:0 5% 5% 5%;}
.prd_hover > .prd_img {overflow: hidden;}
.prd_hover > .prd_img > img {animation-duration:3s; animation-fill-mode: forwards; animation-timing-function: ease-in; opacity:0;}
@keyframes prdImg {
	0% {transform: scale(1);}
	100% {transform: scale(1.2);}
}
@keyframes prdImgBack {
	0% {transform: scale(1.2);}
	100% {transform: scale(1);}
}
.prd_hover .prd_compare {position:relative; width:100%;}
.prd_hover .prd_compare > div {position:absolute; line-height:24px; padding:8px 0; 
		border-top:1px solid #eee; border-bottom:1px solid #eee; text-align:right; width:100%; background-color:#fff;}	
.prd_hover .prd_tit {position:relative;}
.prd_hover .prd_cate {position:relative;}
.prd_hover .prd_price {position:relative;}
.prd_hover .prd_cont {position:relative; font-size:1.25em; height:4em; line-height:1.5em; overflow:hidden; background-color:#fff;}
.prd_hover .prd_cont > div {width:100%; height:20px; position:absolute; bottom:-20px; background-color:#fff; cursor:pointer;}
.prd_hover .prd_detail {position:relative; color:#fff; height:40px; cursor:pointer; margin-top:10px; background-color:#fff;}
.prd_hover .prd_detail > :nth-child(1) {float:left; width:25%; padding:8px 0;} 
.prd_hover .prd_detail > :nth-child(2) {float:left; width:50%; height:40px; background-color:#84b736; border-bottom:2px solid #405e14; overflow-y:hidden;} 
.prd_hover .prd_detail > :nth-child(2) > li {height:38px; line-height:38px; font-size:1.25em;} 
.prd_hover .prd_detail > :nth-child(3) {float:left; width:25%; padding:8px 0;} 

.prd_pop {width:60px; height:60px; line-height:60px; color:#fff; font-weight:bold; font-size:1.125em; background-color: #84b736; border-radius:30px; position: absolute; top:10px; left:10px;}



@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash1 {
    from {
        stroke-dashoffset: -3000;
      }
      to {
        stroke-dashoffset: 0;
      }
  }


@keyframes rotation0{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
} 
@keyframes rotation120{
    0%{
        transform:rotate(120deg);
    }
    100%{
        transform:rotate(480deg);
    }
}

@keyframes rotation120_1{
    0%{
        transform:rotate(480deg);
    }
    100%{
        transform:rotate(120deg);
    }
}

@keyframes resize1{
    0%,50%,100%{
        width:80px;
        height:80px;
        
        
    }
    25%,75%{
        width:90px;
        height:90px;
        
     ;
    }
    12.5%,37.5%,62.5%,87.5%{
        width:70px;
        height:70px;
        
       
    }
}

@keyframes resize2{
    0%,50%,100%{
        width:120px;
        height:100px;
        
        
    }
    25%,75%{
        width:120px;
        height:110px;
        
     ;
    }
    12.5%,37.5%,62.5%,87.5%{
        width:100px;
        height:90px;
        
       
    }
}
@media screen and (max-width:1280px){
    .txt_box{width: 58%;}
    .history{width: 100%;height: 100%;}
    .about_back{background-position: bottom;}
    .history_line{top: 75%;transform: translateY(-75%);left: 0.5%;width: 100%;}
    .ab_grafic{top: 79%;transform: translateY(-79%);width: 100%;}
    .txt_top{text-align: center;}
    .txt_top div:nth-child(2){margin: 0;padding-top: 2vh;}
    .txt-bottom h2{text-align: center;}
    .ab_work_pe{width: 80%;}

    .prds{width: 80%;}
    .prd_nav > li {font-size: 2vh;}
    .prd {font-size: 1vh;}
}

@media screen and (max-width:980px){}

@media screen and (max-width:768px){
    .txt_box > :first-child p{font-size: 2.5vh;}
    .ab_grafic{width: 90%;}
    .history_line{width: 100%;}
    .ab_grafic{width: 100%;}
    .txt_top div{display: block;}
    .prds{width: 100%;margin-top: 3vh;}
    .prd{width: 48%;}
    .prds_back {padding-top: 3%;}
}

@media screen and (max-width:480px) {
   header{display:none;}
   .he_main_ban{width: 100%; height: 100%;float: none;}
   .he_main_txt{top: 50%;left: 50%;transform: translate(-50%,-50%);
        z-index: 998; height: 30%;}
   .he_txt2{display: block;width: 100%;}
   .he_txt1{display: none;}
   
   .grafic_back{width: 60%;}
   .grafic_back img{width: 12vw;}

   .drop1{width: 100%;overflow: hidden;}
   .drop1 img{width:150%;}
    .drop2{width: 100%;overflow: hidden;}
    .drop2 img{width: 150%;}
    .img_100{height:70%;}
    
    .txt_box > :first-child p{display: none;}
    .txt_box{width: 100%;}
    .txt_box > :last-child{width: 60%; border: none;top: 50%;left: 50%;transform: translate(-50%,-50%);}
   
    .ab_main_ban{width: 100%;}
    .ab_main_txt{top: 50%;left: 50%;transform: translate(-50%,-50%);
        z-index: 998; height: 30%;}
    .ab_tit{padding-top:3vh; }
    .txt_top div h2{display: block;margin-top: 3%;}
    .txt_top div p{display: block;}
    .rel_back:first-child{display: none;}
    .chart_wrap{width: 100%;display: block;position: relative;}
    .chart_wrap p{top: 50%;left: 50%;transform: translate(-50%,-50%);}
  
    .ab_work{height: 100%;}
    .ab_work_pe{position: static;transform: none;width: 100%;}
   .rel_back{overflow: hidden;height: 100%;}
   .rel_back img{width: 200%; height: 100%;}
   
   .wrap{width: auto;height: auto;}
   .chart_wrap{padding:3% 30%;}
   .txt-bottom{margin-top: 8%;}

   .time_line{height: 220%;}

   .pro_main_ban{width: 100%;}
   .pro_main_txt{z-index: 998;z-index: 998;top: 50%;left: 50%;transform: translate(-50%,-50%);height: 30%;}
    .prd{width: 100%;}
    .prd_tit{font-size: 2vh;}
    .prd_cate{font-size: 1.5vh;}
    
    .prd_hover .prd_cont{font-size: 1.5vh;}
    .prd_hover .prd_detail li{font-size: 2vh !important;}

    .prd_hover .prd_compare > div{display: none;}
    .modal_get{width: 100%;height: auto;}
    
    .modal_body{height: 60%;}

    .modal_prev{font-size: 2rem;}
    .modal_next{font-size: 2rem;}

    
}


.modal {width:100%;height: 100%;  background-color:rgba(0,0,0,0.7); display:none; position:fixed; top:0; left:0;}
.modal_cell {display: table-cell;vertical-align: middle; text-align: center;}
.modal_body {width:75%;height: 80%;  border: 1px solid #ccc; background-color: #fff; margin:0 auto; position: relative; animation-duration:1s; animation-fill-mode: forwards;}
.modal_close {width:50px; height:50px; line-height:50px; text-align:center; color:#fff; font-size:2.5rem; background-color:#f00; position: absolute; top:-1px; 
    right:-51px; cursor:pointer;}
.modal_prev{cursor: pointer;top:50%;left: 3%;transform:translateY(-50%);  color: #84b736;}
.modal_next{cursor: pointer;top:50%;right:3%;transform:translateY(-50%); color: #84b736;}

@keyframes modalOpen {
    0% {opacity:0; transform:translateY(-200px);}
    100% {opacity:1; transform:translateY(0);}
}

.modal_get {display:none;}
.modal_get img{width: 100%;}
.modal_content div{top: 50%; left: 50%;transform: translate(-50%,-50%);width: 80%;}

