html,body,h1,h2,h3,h4,h5,p,ul,li,div,a,span,img{margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif;border: 0;box-sizing: border-box;}
h1,h2,h3,h4,h5,p{color: #ebebeb;}
li{list-style: none;}
a{text-decoration: none;}

.w{width: 1280px;margin: 0 auto;}
.le{float: left;}
.ri{float: right;}
.cl{clear: both;}
.rel{position: relative;}
.abs{position: absolute;}

header ul{margin-top: 40px; margin-bottom: 20px; } 
header ul li{} 
header ul li a{color: #5e5e5e;font-size: 26px;padding: 5px 40px;}
header ul li:nth-child(1) a:hover{color:#ef464f;}
header ul li:nth-child(2) a:hover{color:#a03db1;}
header ul li:nth-child(3) a:hover{color:#223770;}
section{width: 100%; height:100%;}
.hello{width: 100%; height:885px;}
.he_main{width: 100%; height: 100%;}
.he_main_txt{left: 14%;bottom: 11%;}
.he_main_ban{margin-top: 30px;right: 0;top: 0; width: 1200px;}
.he_main_ban img{width: 100%;}

.c1{top: 20%;left:43%;z-index: 10;width: 200px;opacity: 1; animation:rotation120 4s infinite linear; }
.c2{top: 47%;left:54%;z-index: 10;width: 60px;opacity: 1; animation:rotation120_1 4s infinite linear; }
.c3{top: 22%;left:72%;z-index: 10;width: 100px;opacity: 1; animation:rotation120 4s infinite linear; }
.c4{top: 70%;left:75%;z-index: 10;width: 100px;opacity: 1; animation:rotation120_1 4s infinite linear; }
.c5{top: 40%;left:62%;z-index: 10;width: 120px;opacity:1; animation:rotation120_1 4s infinite linear; }
.c6{top: 52%;left:40%;z-index: 10;width: 100px;opacity: 0.7; animation:rotation120_1 4s infinite linear; }

.img_100{margin-top: 10px;width: 100%; height: 590px;
    
background-color: #ef464f;}
.img{background-image: url("../images/hello/startup.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
height: 100%;width: 100%;}
.img{width: 100%; height: 100%;}
.drop_y{z-index: 1;width: 1205px;margin-top: -2px;}
.drop_y svg{width: 100%;stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;}
    

.txt_box {width: 40%; z-index:2; border:1px solid #f00; top:50%; left:50%; transform:translate(-50%, -50%)}
.txt_box > :first-child {border-right: 1px solid #ebebeb; width:50%; float:left;}
.txt_box > :first-child p{font-size: 26px;color:#f9ed5f;line-height: 120px;margin: 0;}
.txt_box > :last-child {width:50%; float:right;}
.txt_box > :last-child img{width:100%;}
.drop{}
.drop1{width: 1183px;top: -0.1%; left: 0;}
.drop1 img{width: 100%;}
.drop2{width: 1183px;top: -0.1%; left: 0;display: none;}
.drop2 img{width: 100%;}


.about_me{width: 1600px;height: 737px;}
.a1{top: 20%; left: 58%;animation:rotation120 4s infinite linear;}
.a2{top: 65%; left: 50%;animation:rotation120_1 4s infinite linear;}
.a3{top: 48%; left: 57%;animation:rotation120_1 4s infinite linear;}
.a4{top: 20%; left: 20%;animation:rotation120 4s infinite linear;}
.a5{top: 30%; left: 10%;animation:rotation120 4s infinite linear;} 
.a6{top: 56%; left: 20%;stroke-dasharray: 20;
    stroke-dashoffset: 1000;
    animation: dash 15s infinite linear forwards;} 
.a7{top: 25%; left: 20%;stroke-dasharray: 20;
        stroke-dashoffset: 1000;
        animation: dash 15s infinite linear forwards;} 
.a8{top: 60%; left: 33%;animation:rotation120_1 4s infinite linear;} 


.ab_main_title{bottom: 0.5%;left: 74%;}
.about_back{width: 100%; height: 1570px; 
    background-image:url("../images/about/backgrafic.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;}
.rel_back{width: 100%;height: 100%;margin: 0;}

.ab_tit{width: 100%;padding-top: 65px;}
.ab_tit h1{font-weight: bold; font-size: 42px;color: #893c96;text-align: center; height: 75px;line-height: 75px; background-color: #f9ed5f;}

.history_line{top:4.8%;left:20%; max-width:1210px; width:100%;
    stroke-dasharray: 3000;/*애니메이션 총 길이*/
    stroke-dashoffset: -3000; animation: dash1 5s linear alternate infinite; animation-delay:3s;}

.ab_grafic{top:6%; left: 20%; max-width:1200px; width:100%;}
.ab_grafic img{width:100%;}
.ab_work{top: 65%;left: 18%;}
.txt_top{}
.txt_top div{display: inline-block;}
.txt_top div:nth-child(2){margin-left:20px; }
.txt_top div h2{font-size: 28px;display: inline-block;margin-right: 15px;}
.txt_top div p{font-size: 20px;display: inline-block;}
.txt-bottom {margin-top: 25px;}
.txt-bottom h2{font-size: 28px;}


.wrap{width: 1280px;height: 300px;}
.chart_wrap {width:16.5%; float:left; padding:3%;margin-top: 10px;}
.wrap p{top:34%;font-size: 20px;}
.p1{left: 7%;}
.p2{left: 24%;}
.p3{left:40.5%;}
.p4{left: 55.5%;}
.p5{left: 73%;}
.p6{left: 89%;}

.project{width:1920px;}
.project .pro{width: 1600px;height: 870px; float: left;}
.pro_tit{top: 54%;left: 19%;}
.pro_main{right: -19%;top:-0.5%;}

.pr1{top: 25%; right:4% ; z-index: 10;animation:rotation120_1 4s infinite linear;}
.pr2{top: 6.5%; right: 7.5%;z-index: 10;animation:rotation120 4s infinite linear;}
.pr3{top: 14%; right: 22%;z-index: 10;animation:rotation120 4s infinite linear;}
.pr4{top: 22%; right: 44%;z-index: 10;animation:rotation120 4s infinite linear;}
.pr5{top: 58%; right:3%;z-index: 10;animation:rotation120_1 4s infinite linear;}
.pr6{top: 60%; right: -10%;z-index: 10;animation:rotation120 4s infinite linear;} 
.pr7{top: 35%; right:33%;z-index: 10;stroke-dasharray: 20;
    stroke-dashoffset: 1000;
    animation: dash 15s infinite linear forwards;} 

/***** Featured Products *****/
.prds {margin-top:60px; text-align:center;}
.prds > h5:nth-child(1) {color:#bbb;}
.prds > h5:nth-child(3) {color:#999;}
.prds > h3 {color:#333; padding:1rem 0; line-height:2rem;}

.prd_nav {margin-top:2rem;}
.prd_nav > li {display:inline-block; font-size:1.125rem; color:#666; font-weight:bold; margin:0 1rem; cursor:pointer; position:relative;}
.prd_nav > li > div {width:0%; height:2px; background-color:#84b736; position:absolute;}

.prd_out_wrap {margin-top:2rem; position:relative;}
.prd_wrap {display:none; position:absolute; top:5rem; opacity:0; width:100%;}
.prd {width:24%; margin:0.5%; float:left; font-size:1rem; position:relative;}
.prd_tit {color:#555; font-size:1.25em; line-height:1.5em; padding:0.25em; font-weight:bold;}
.prd_cate {font-size:0.875em; color:#888; padding:0.25em;}
.prd_price {padding:0.25em;}
.prd_price > :first-child {text-decoration:line-through; color:#aaa; font-size:1em;}
.prd_price > :last-child {color:#84b736; font-size:1.25em; font-weight:bold;}

.prd_hover {position:absolute; width:110%; padding:5% 5% 0 5%; left:-5%; top:-5%; border:1px solid #f1f1f1; 
	box-shadow:0 0 5px rgba(0,0,0,0.2); display:none; z-index:3;}
.prd_hover > ul {background-color:#fff; width:110%; margin-left:-5%; padding:0 5% 5% 5%;}
.prd_hover > .prd_img {overflow: hidden;}
.prd_hover > .prd_img > img {animation-duration:3s; animation-fill-mode: forwards; animation-timing-function: ease-in; opacity:0;}
@keyframes prdImg {
	0% {transform: scale(1);}
	100% {transform: scale(1.2);}
}
@keyframes prdImgBack {
	0% {transform: scale(1.2);}
	100% {transform: scale(1);}
}
.prd_hover .prd_compare {position:relative; width:100%;}
.prd_hover .prd_compare > div {position:absolute; line-height:24px; padding:8px 0; 
		border-top:1px solid #eee; border-bottom:1px solid #eee; text-align:right; width:100%; background-color:#fff;}	
.prd_hover .prd_tit {position:relative;}
.prd_hover .prd_cate {position:relative;}
.prd_hover .prd_price {position:relative;}
.prd_hover .prd_cont {position:relative; font-size:1.25em; height:4em; line-height:1.5em; overflow:hidden; background-color:#fff;}
.prd_hover .prd_cont > div {width:100%; height:20px; position:absolute; bottom:-20px; background-color:#fff; cursor:pointer;}
.prd_hover .prd_detail {position:relative; color:#fff; height:40px; cursor:pointer; margin-top:10px; background-color:#fff;}
.prd_hover .prd_detail > :nth-child(1) {float:left; width:25%; padding:8px 0;} 
.prd_hover .prd_detail > :nth-child(2) {float:left; width:50%; height:40px; background-color:#84b736; border-bottom:2px solid #405e14; overflow-y:hidden;} 
.prd_hover .prd_detail > :nth-child(2) > li {height:38px; line-height:38px; font-size:1.25em;} 
.prd_hover .prd_detail > :nth-child(3) {float:left; width:25%; padding:8px 0;} 

.prd_pop {width:60px; height:60px; line-height:60px; color:#fff; font-weight:bold; font-size:1.125em; background-color: #84b736; border-radius:30px; position: absolute; top:10px; left:10px;}



@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash1 {
    from {
        stroke-dashoffset: -3000;
      }
      to {
        stroke-dashoffset: 0;
      }
  }


@keyframes rotation0{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
} 
@keyframes rotation120{
    0%{
        transform:rotate(120deg);
    }
    100%{
        transform:rotate(480deg);
    }
}

@keyframes rotation120_1{
    0%{
        transform:rotate(480deg);
    }
    100%{
        transform:rotate(120deg);
    }
}

@keyframes resize1{
    0%,50%,100%{
        width:80px;
        height:80px;
        
        
    }
    25%,75%{
        width:90px;
        height:90px;
        
     ;
    }
    12.5%,37.5%,62.5%,87.5%{
        width:70px;
        height:70px;
        
       
    }
}

@keyframes resize2{
    0%,50%,100%{
        width:120px;
        height:100px;
        
        
    }
    25%,75%{
        width:120px;
        height:110px;
        
     ;
    }
    12.5%,37.5%,62.5%,87.5%{
        width:100px;
        height:90px;
        
       
    }
}
